<h1>Static#home</h1>
<p>Find me in app/views/static/home.html.erb</p>
<%= cl_image_tag("wjbkzebnvmcnsfb3st2y", width: 400, height: 300, crop: :fill) %>
<%= cl_image_tag("diforsbyffyh3ql5zmw7", width: 400, height: 300, crop: :fill) %>
